{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<h1>Career Recommendations System</h1>
<h6 class="welcome-message">Welcome, {{ username }}!</h6>
{% endblock %}

{% block content %}
    
    <div class="dashboard-cards">
        <div class="card">
            <h3>Career Recommendations</h3>
            <p>Begin your journey with personalized career recommendations and interactive quizzes.</p>
            <a href="{{ url_for('career_recommendations') }}" class="button">Get Started</a>
        </div>
        <div class="card">
            <h3>Success Stories</h3>
            <p>Provide your success story.</p>
            <a href="{{ url_for('success_stories') }}" class="button">Write your story</a>
        </div>
    </div>
{% endblock %}
